# ignore .git and .cache folders
.git
.github
.cache
**/.cache
.expo
.vscode
.next
**/.next
.gitlab
.husky

# ignore all markdown files (md) beside all README*.md other than README-secret.md
!README*.md

# ignore Node
**/node_modules
node_modules

# ignore subprojects
reports
packages

# ignore Dockerfile
Dockerfile

# misc
**/.tmp
